.blank{
  color: aqua;
}

.card{
  height: 50vh;
  width: 47vh;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid red;
}
.card-body{
border: 1px solid pink;
}
.card-header{
border: 1px solid black;
}